<!--====================================
        START HEADER AREA
======================================-->
<header class="header-area bg-white shadow-sm top-bar"
    style="padding-bottom: 0px; background-color: #007397 !important;" *ngIf="_router.url != '/weather'">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <div class="logo-box" style="color: white;">
                    Gestion Stock
                    <div class="user-action">
                        <div class="search-menu-toggle icon-element icon-element-xs shadow-sm mr-1"
                            data-toggle="tooltip" data-placement="top" title="Search">
                            <i class="la la-search"></i>
                        </div>
                        <div class="off-canvas-menu-toggle icon-element icon-element-xs shadow-sm" data-toggle="tooltip"
                            data-placement="top" title="Main menu">
                            <i class="la la-bars"></i>
                        </div>
                    </div>
                </div>
            </div><!-- end col-lg-2 -->
            <div class="col-lg-10">
                <div class="menu-wrapper border-left border-left-gray pl-4 justify-content-end">
                    <nav class="menu-bar mr-auto menu--bar">
                        <ul>
                            <li>
                                <a style="color: white !important;" routerLink="./gs/category">Catégorie<i
                                        class="la la-weather"></i></a>
                            </li>
                            <li>
                                <a style="color: white !important;" routerLink="./gs/product">Produit<i
                                        class="la la-weather"></i></a>
                            </li>
                        </ul><!-- end ul -->
                    </nav><!-- end main-menu -->
                </div><!-- end menu-wrapper -->
            </div><!-- end col-lg-10 -->
        </div><!-- end row -->
    </div><!-- end container -->

    <div class="body-overlay"></div>
</header><!-- end header-area -->
<!--======================================
            END HEADER AREA
    ======================================-->