
<style>
    table {
  width: 100%;
}
</style>
<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="filters pb-40px d-flex flex-wrap align-items-center justify-content-between">
            <h3 class="fs-22 fw-medium mr-0">Catégorie : </h3>
        </div><!-- end filters -->
        <form [formGroup]="addCategoryForm" (ngSubmit)="onAddCategorySubmit()"  class="row" style="background-color: #f2f4f5;">
            <div class="col-lg-6">
                <div class="settings-item">
                    <div class="divider"><span></span></div>
                    <div class="row pt-4">
                        <div class="col-lg-6">
                            <div class="input-box">
                                <label class="fs-13 text-black lh-20 fw-medium">Nom Catégorie</label>
                                <div class="form-group">
                                    <input 
                                        class="form-control form--control pl-40px" 
                                        type="text" 
                                        name="text"
                                        formControlName="nomCategory"
                                        [ngClass]="{ 'is-invalid': CategorySubmitted && addCategoryFormControl.nomCategory.errors }"
                                    >
                                    <span class="la input-icon"></span>
                                </div>
                            </div>
                        </div><!-- end col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="submit-btn-box pt-3">
                                <button class="btn theme-btn" type="submit">Enregistrer</button>
                            </div><br>
                        </div><!-- end col-lg-12 -->
                    </div><!-- end row -->
                </div><!-- end settings-item -->
                
            </div><!-- end col-lg-8 -->
            <div class="col-lg-6">
                <div class="card card-item">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="fs-14 text-black fw-medium lh-20">Results : </label>
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->
                              
                                <!-- id -->
                                <ng-container matColumnDef="id">
                                  <th mat-header-cell *matHeaderCellDef> ID. </th>
                                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                </ng-container>
                              
                                <!-- Nom category -->
                                <ng-container matColumnDef="nomCategory">
                                  <th mat-header-cell *matHeaderCellDef> Nom category </th>
                                  <td mat-cell *matCellDef="let element"> {{element.nomCategory}} </td>
                                </ng-container>
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              
                        </div><!-- end form-group -->
                    </div><!-- end card-body -->
                </div>
            </div><!-- end col-lg-4 -->
        </form>
    </div><!-- end container -->
</section><!-- end question-area -->
<!-- ================================
         END QUESTION AREA
================================= -->