<style>
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }
</style>
<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="filters pb-40px d-flex flex-wrap align-items-center justify-content-between">
            <h3 class="fs-22 fw-medium mr-0">Catégorie : </h3>
        </div><!-- end filters -->
        <div class="row">
            <div class="col-lg-8">
                <form [formGroup]="addProduitForm" (ngSubmit)="onAddProduitSubmit()" style="background-color: #f2f4f5;">

                    <div class="settings-item">
                        <div class="divider"><span></span></div>
                        <div class="row pt-4">
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Nom du produit</label>
                                    <input class="form-control form--control user-text-editor" type="text"
                                        formControlName="nomProduit"
                                        [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.nomProduit.errors }"
                                        placeholder="Nom du produit">
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <div class="form-group">
                                        <label class="fs-13 text-black lh-20 fw-medium">Prix</label>
                                        <input class="form-control form--control user-text-editor" type="number"
                                            formControlName="prix"
                                            [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.prix.errors }"
                                            placeholder="Prix">
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Quantité</label>
                                    <div class="form-group">
                                        <input class="form-control form--control user-text-editor" type="number"
                                            formControlName="qte"
                                            [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.qte.errors }"
                                            placeholder="Quantité">
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Quantité consommée</label>
                                    <div class="form-group">
                                        <input class="form-control form--control user-text-editor" type="number"
                                            formControlName="qteConsom"
                                            [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.qteConsom.errors }"
                                            placeholder="Quantité Consommé">
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Date peremption</label>
                                    <div class="form-group">
                                        <input class="form-control form--control user-text-editor" type="date"
                                            formControlName="datePeremption"
                                            [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.datePeremption.errors }"
                                            placeholder="Prix">
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Date arrivee</label>
                                    <div class="form-group">
                                        <input class="form-control form--control user-text-editor" type="date"
                                            formControlName="dateArrivee"
                                            [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.dateArrivee.errors }"
                                            placeholder="e.g. javascript">
                                    </div>
                                </div>
                            </div><!-- end col-lg-6 -->
                            <div class="col-lg-6">
                                <div class="input-box">
                                    <label class="fs-13 text-black lh-20 fw-medium">Catégorie</label>
                                    <select formControlName="idCategory"
                                        [ngClass]="{ 'is-invalid': produitSubmitted && addProduitFormControl.idCategory.errors }"
                                        class="form-control form--control pl-40px" (ngModelChange)="setNewCateg($event)"
                                        (ngModel)="categoryList">
                                        <option *ngFor="let category of categoryList" [ngValue]="category.id">
                                            {{category.nomCategory}}</option>
                                    </select><br>
                                </div>
                            </div><!-- end col-lg-12 -->
                            <div class="col-lg-6">
                                <div class="submit-btn-box pt-3">
                                    <br><button class="btn theme-btn" type="submit">Enregistrer</button>
                                </div>
                            </div><!-- end col-lg-12 -->
                        </div><!-- end row -->
                    </div><!-- end settings-item -->
                </form>

            </div><!-- end col-lg-8 -->
            <div class="col-lg-4 pt-5" style="background-color: #f2f4f5;">
                <div class="card card-item">
                    <div class="card-body">
                        <form [formGroup]="searchProductForm" (ngSubmit)="onSearchProductSubmit()">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <label class="fs-14 text-black fw-medium lh-20">Rechercher par catégorie</label>
                                <input type="text" class="form-control form--control pl-40px"
                                    placeholder="chosire une categorie" aria-label="Test 1" matInput
                                    formControlName="idCategory" [matAutocomplete]="auto">
                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <div class="form-group mb-0">
                                <button class="btn theme-btn" type="submit">Rechercher</button>
                            </div><!-- end form-group -->
                        </form>
                    </div><!-- end card-body -->
                </div>
            </div><!-- end col-lg-4 -->
        </div>
        <div class="col-lg-14">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Categrory Column -->
                <ng-container matColumnDef="idCategory">
                    <th mat-header-cell *matHeaderCellDef> Categrory </th>
                    <td mat-cell *matCellDef="let element"> {{getCategoryNameByKey(element.idCategory).nomCategory}}
                    </td>
                </ng-container>

                <!-- Nom Produit -->
                <ng-container matColumnDef="nomProduit">
                    <th mat-header-cell *matHeaderCellDef> Nom Produit </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomProduit}} </td>
                </ng-container>

                <!-- Qte -->
                <ng-container matColumnDef="qte">
                    <th mat-header-cell *matHeaderCellDef> Qte </th>
                    <td mat-cell *matCellDef="let element"> {{element.qte}} </td>
                </ng-container>

                <!-- qteConsom -->
                <ng-container matColumnDef="qteConsom">
                    <th mat-header-cell *matHeaderCellDef> Qte consommé </th>
                    <td mat-cell *matCellDef="let element"> {{element.qteConsom}} </td>
                </ng-container>

                <!-- Prix -->
                <ng-container matColumnDef="prix">
                    <th mat-header-cell *matHeaderCellDef> Prix </th>
                    <td mat-cell *matCellDef="let element"> {{element.prix}} </td>
                </ng-container>

                <!-- Date Peremption -->
                <ng-container matColumnDef="datePeremption">
                    <th mat-header-cell *matHeaderCellDef> Date Peremption </th>
                    <td mat-cell *matCellDef="let element"> {{element.datePeremption}} </td>
                </ng-container>

                <!-- Date Arrivée -->
                <ng-container matColumnDef="dateArrivee">
                    <th mat-header-cell *matHeaderCellDef> Date Arrivée </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateArrivee}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div><!-- end container -->
</section><!-- end question-area -->
<!-- ================================
         END QUESTION AREA
================================= -->