/* You can add global styles to this file, and also import other style files */
@import "assets/css/toastr.css"; /* Using a string */
@import "../node_modules/leaflet/dist/leaflet.css";
/*@import"assets/css/bootstrap.min.css";
@import "assets/css/line-awesome.css";
@import "assets/css/owl.carousel.min.css";
@import "assets/css/owl.theme.default.min.css";
@import "assets/css/style.css";*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
